
## Overview

This notebook will show you how to create and query a table or DataFrame that you uploaded to DBFS. [DBFS](https://docs.databricks.com/user-guide/dbfs-databricks-file-system.html) is a Databricks File System that allows you to store data for querying inside of Databricks. This notebook assumes that you have a file already inside of DBFS that you would like to read from.

This notebook is written in **Python** so the default cell type is Python. However, you can use different languages by using the `%LANGUAGE` syntax. Python, Scala, SQL, and R are all supported.

In [1]:
# Intialization
import os
import sys

os.environ["SPARK_HOME"] = "/home/talentum/spark"
os.environ["PYLIB"] = os.environ["SPARK_HOME"] + "/python/lib"
# In below two lines, use /usr/bin/python2.7 if you want to use Python 2
os.environ["PYSPARK_PYTHON"] = "/usr/bin/python3.6" 
os.environ["PYSPARK_DRIVER_PYTHON"] = "/usr/bin/python3"
sys.path.insert(0, os.environ["PYLIB"] +"/py4j-0.10.7-src.zip")
sys.path.insert(0, os.environ["PYLIB"] +"/pyspark.zip")

# NOTE: Whichever package you want mention here.
# os.environ['PYSPARK_SUBMIT_ARGS'] = '--packages com.databricks:spark-xml_2.11:0.6.0 pyspark-shell' 
# os.environ['PYSPARK_SUBMIT_ARGS'] = '--packages org.apache.spark:spark-avro_2.11:2.4.0 pyspark-shell'
os.environ['PYSPARK_SUBMIT_ARGS'] = '--packages com.databricks:spark-xml_2.11:0.6.0,org.apache.spark:spark-avro_2.11:2.4.3 pyspark-shell'
# os.environ['PYSPARK_SUBMIT_ARGS'] = '--packages com.databricks:spark-xml_2.11:0.6.0,org.apache.spark:spark-avro_2.11:2.4.0 pyspark-shell'

In [2]:
#Entrypoint 2.x
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Spark SQL basic example").enableHiveSupport().getOrCreate()

# On yarn:
# spark = SparkSession.builder.appName("Spark SQL basic example").enableHiveSupport().master("yarn").getOrCreate()
# specify .master("yarn")

sc = spark.sparkContext

In [218]:

from pyspark.sql.types import IntegerType,StringType,StructField,StructType,DateType,DoubleType

schema = StructType([StructField("Index", IntegerType(), True),
	StructField("Date", DateType(), True),
	StructField("Time", StringType(), True),
	StructField("Total_Precipitation", DoubleType(), True),
	StructField("Atmospheric_Pressure", DoubleType(), True),
	StructField("Maximum_Atmospheric_Pressure", DoubleType(), True),
	StructField("Minimum_Atmospheric_Pressure", DoubleType(), True),
	StructField("Solar_Radiation", DoubleType(), True),
	StructField("Air_Temperature", DoubleType(), True),
	StructField("Dew_Point_Temperature", DoubleType(), True),
	StructField("Maximum_Temperature_For_The_Last_Hour", DoubleType(), True),
	StructField("Minimum_Temperature_For_The_Last_Hour", DoubleType(), True),
	StructField("Maximum_Air_Pressure_Dew_Point_Temperature_For_The_Last_Hour", DoubleType(), True),
	StructField("Minimum_Air_Pressure_Dew_Point_Temperature_For_The_Last_Hour", DoubleType(), True),
	StructField("Maximum_Relative_Humid_Temperature_For_The_Last_Hour", DoubleType(), True),	
	StructField("Minimum_Relative_Humid_Temperature_For_The_Last_Hour", DoubleType(), True),
	StructField("Air_Relative_Humid_Temperature_For_The_Last_Hour", DoubleType(), True),
	StructField("Wind_Direction_Radius_Degree", DoubleType(), True),
	StructField("Wind_Gust_In_Metres_Per_Second", DoubleType(), True),
	StructField("Wind_speed_In_Metres_Per_Second", DoubleType(), True),
    StructField("Region", StringType(), True),
	StructField("State", StringType(), True),
	StructField("Station_Name", StringType(), True),
	StructField("Station_Code", StringType(), True),
	StructField("Latitude", DoubleType(), True),
	StructField("Longitude", DoubleType(), True),
	StructField("Elevation", DoubleType(), True)
	])

In [4]:
file_location = "file:///home/talentum/shared/CDAC_Project_Weather_Anaysis/north.csv"
df1 = spark.read.csv(file_location,header=True,schema=schema)

In [220]:
df1.printSchema()

root
 |-- Index: integer (nullable = true)
 |-- Date: date (nullable = true)
 |-- Time: string (nullable = true)
 |-- Total_Precipitation: double (nullable = true)
 |-- Atmospheric_Pressure: double (nullable = true)
 |-- Maximum_Atmospheric_Pressure: double (nullable = true)
 |-- Minimum_Atmospheric_Pressure: double (nullable = true)
 |-- Solar_Radiation: double (nullable = true)
 |-- Air_Temperature: double (nullable = true)
 |-- Dew_Point_Temperature: double (nullable = true)
 |-- Maximum_Temperature_For_The_Last_Hour: double (nullable = true)
 |-- Minimum_Temperature_For_The_Last_Hour: double (nullable = true)
 |-- Maximum_Air_Pressure_Dew_Point_Temperature_For_The_Last_Hour: double (nullable = true)
 |-- Minimum_Air_Pressure_Dew_Point_Temperature_For_The_Last_Hour: double (nullable = true)
 |-- Maximum_Relative_Humid_Temperature_For_The_Last_Hour: double (nullable = true)
 |-- Minimum_Relative_Humid_Temperature_For_The_Last_Hour: double (nullable = true)
 |-- Air_Relative_Humid_Temperature_For_The_Last_Hour: double (nullable = true)
 |-- Wind_Direction_Radius_Degree: double (nullable = true)
 |-- Wind_Gust_In_Metres_Per_Second: double (nullable = true)
 |-- Wind_speed_In_Metres_Per_Second: double (nullable = true)
 |-- Region: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Station_Name: string (nullable = true)
 |-- Station_Code: string (nullable = true)
 |-- Latitude: double (nullable = true)
 |-- Longitude: double (nullable = true)
 |-- Elevation: double (nullable = true)

In [221]:
df1.show(5)

+-----+----------+-----+-------------------+--------------------+----------------------------+----------------------------+---------------+---------------+---------------------+-------------------------------------+-------------------------------------+------------------------------------------------------------+------------------------------------------------------------+----------------------------------------------------+----------------------------------------------------+------------------------------------------------+----------------------------+------------------------------+-------------------------------+------+-----+------------+------------+-----------+------------+---------+
|Index|      Date| Time|Total_Precipitation|Atmospheric_Pressure|Maximum_Atmospheric_Pressure|Minimum_Atmospheric_Pressure|Solar_Radiation|Air_Temperature|Dew_Point_Temperature|Maximum_Temperature_For_The_Last_Hour|Minimum_Temperature_For_The_Last_Hour|Maximum_Air_Pressure_Dew_Point_Temperature_For_The_Last_Hour|Minimum_Air_Pressure_Dew_Point_Temperature_For_The_Last_Hour|Maximum_Relative_Humid_Temperature_For_The_Last_Hour|Minimum_Relative_Humid_Temperature_For_The_Last_Hour|Air_Relative_Humid_Temperature_For_The_Last_Hour|Wind_Direction_Radius_Degree|Wind_Gust_In_Metres_Per_Second|Wind_speed_In_Metres_Per_Second|Region|State|Station_Name|Station_Code|   Latitude|   Longitude|Elevation|
+-----+----------+-----+-------------------+--------------------+----------------------------+----------------------------+---------------+---------------+---------------------+-------------------------------------+-------------------------------------+------------------------------------------------------------+------------------------------------------------------------+----------------------------------------------------+----------------------------------------------------+------------------------------------------------+----------------------------+------------------------------+-------------------------------+------+-----+------------+------------+-----------+------------+---------+
|    0|2000-05-09|00:00|            -9999.0|             -9999.0|                     -9999.0|                     -9999.0|        -9999.0|        -9999.0|              -9999.0|                              -9999.0|                              -9999.0|                                                     -9999.0|                                                     -9999.0|                                             -9999.0|                                             -9999.0|                                         -9999.0|                     -9999.0|                       -9999.0|                        -9999.0|     N|   AM|      MANAUS|        A101|-3.10333333|-60.01638888|    61.25|
|    1|2000-05-09|01:00|            -9999.0|             -9999.0|                     -9999.0|                     -9999.0|        -9999.0|        -9999.0|              -9999.0|                              -9999.0|                              -9999.0|                                                     -9999.0|                                                     -9999.0|                                             -9999.0|                                             -9999.0|                                         -9999.0|                     -9999.0|                       -9999.0|                        -9999.0|     N|   AM|      MANAUS|        A101|-3.10333333|-60.01638888|    61.25|
|    2|2000-05-09|02:00|            -9999.0|             -9999.0|                     -9999.0|                     -9999.0|        -9999.0|        -9999.0|              -9999.0|                              -9999.0|                              -9999.0|                                                     -9999.0|                                                     -9999.0|                                             -9999.0|                                             -9999.0|                                         -9999.0|                     -9999.0|                       -9999.0|                        -9999.0|     N|   AM|      MANAUS|        A101|-3.10333333|-60.01638888|    61.25|
|    3|2000-05-09|03:00|            -9999.0|             -9999.0|                     -9999.0|                     -9999.0|        -9999.0|        -9999.0|              -9999.0|                              -9999.0|                              -9999.0|                                                     -9999.0|                                                     -9999.0|                                             -9999.0|                                             -9999.0|                                         -9999.0|                     -9999.0|                       -9999.0|                        -9999.0|     N|   AM|      MANAUS|        A101|-3.10333333|-60.01638888|    61.25|
|    4|2000-05-09|04:00|            -9999.0|             -9999.0|                     -9999.0|                     -9999.0|        -9999.0|        -9999.0|              -9999.0|                              -9999.0|                              -9999.0|                                                     -9999.0|                                                     -9999.0|                                             -9999.0|                                             -9999.0|                                         -9999.0|                     -9999.0|                       -9999.0|                        -9999.0|     N|   AM|      MANAUS|        A101|-3.10333333|-60.01638888|    61.25|
+-----+----------+-----+-------------------+--------------------+----------------------------+----------------------------+---------------+---------------+---------------------+-------------------------------------+-------------------------------------+------------------------------------------------------------+------------------------------------------------------------+----------------------------------------------------+----------------------------------------------------+------------------------------------------------+----------------------------+------------------------------+-------------------------------+------+-----+------------+------------+-----------+------------+---------+
only showing top 5 rows

In [166]:
df1.filter(df1.Date=='2000-09-10').show(5)

+-----+----------+-----+-------------------+--------------------+----------------------------+----------------------------+---------------+---------------+---------------------+-------------------------------------+-------------------------------------+------------------------------------------------------------+------------------------------------------------------------+----------------------------------------------------+----------------------------------------------------+------------------------------------------------+----------------------------+------------------------------+-------------------------------+------+-----+------------+------------+------------+------------+---------+
|Index|      Date| Time|Total_Precipitation|Atmospheric_Pressure|Maximum_Atmospheric_Pressure|Minimum_Atmospheric_Pressure|Solar_Radiation|Air_Temperature|Dew_Point_Temperature|Maximum_Temperature_For_The_Last_Hour|Minimum_Temperature_For_The_Last_Hour|Maximum_Air_Pressure_Dew_Point_Temperature_For_The_Last_Hour|Minimum_Air_Pressure_Dew_Point_Temperature_For_The_Last_Hour|Maximum_Relative_Humid_Temperature_For_The_Last_Hour|Minimum_Relative_Humid_Temperature_For_The_Last_Hour|Air_Relative_Humid_Temperature_For_The_Last_Hour|Wind_Direction_Radius_Degree|Wind_Gust_In_Metres_Per_Second|Wind_speed_In_Metres_Per_Second|Region|State|Station_Name|Station_Code|    Latitude|   Longitude|Elevation|
+-----+----------+-----+-------------------+--------------------+----------------------------+----------------------------+---------------+---------------+---------------------+-------------------------------------+-------------------------------------+------------------------------------------------------------+------------------------------------------------------------+----------------------------------------------------+----------------------------------------------------+------------------------------------------------+----------------------------+------------------------------+-------------------------------+------+-----+------------+------------+------------+------------+---------+
| 3024|2000-09-10|00:00|            -9999.0|             -9999.0|                     -9999.0|                     -9999.0|        -9999.0|        -9999.0|              -9999.0|                              -9999.0|                              -9999.0|                                                     -9999.0|                                                     -9999.0|                                             -9999.0|                                             -9999.0|                                         -9999.0|                     -9999.0|                       -9999.0|                        -9999.0|    CO|   DF|    BRASILIA|        A001|-15.78944444|-47.92583332|  1159.54|
| 3025|2000-09-10|01:00|                0.4|               888.8|                       888.9|                       888.4|        -9999.0|           16.9|                 16.0|                                 16.9|                                 16.7|                                                        16.0|                                                        15.6|                                                95.0|                                                92.0|                                            95.0|                       144.0|                           2.6|                            0.2|    CO|   DF|    BRASILIA|        A001|-15.78944444|-47.92583332|  1159.54|
| 3026|2000-09-10|02:00|                0.0|               888.7|                       888.8|                       888.6|        -9999.0|           17.2|                 16.1|                                 17.3|                                 16.7|                                                        16.1|                                                        15.6|                                                95.0|                                                91.0|                                            93.0|                        88.0|                           2.4|                            1.2|    CO|   DF|    BRASILIA|        A001|-15.78944444|-47.92583332|  1159.54|
| 3027|2000-09-10|03:00|                0.0|               888.4|                       888.8|                       888.4|        -9999.0|           17.3|                 16.3|                                 17.3|                                 16.9|                                                        16.4|                                                        15.9|                                                95.0|                                                93.0|                                            94.0|                       131.0|                           2.2|                            1.0|    CO|   DF|    BRASILIA|        A001|-15.78944444|-47.92583332|  1159.54|
| 3028|2000-09-10|04:00|                0.0|               888.0|                       888.3|                       887.9|        -9999.0|           17.0|                 16.4|                                 17.3|                                 16.9|                                                        16.5|                                                        16.1|                                                96.0|                                                94.0|                                            96.0|                       136.0|                           1.7|                            0.2|    CO|   DF|    BRASILIA|        A001|-15.78944444|-47.92583332|  1159.54|
+-----+----------+-----+-------------------+--------------------+----------------------------+----------------------------+---------------+---------------+---------------------+-------------------------------------+-------------------------------------+------------------------------------------------------------+------------------------------------------------------------+----------------------------------------------------+----------------------------------------------------+------------------------------------------------+----------------------------+------------------------------+-------------------------------+------+-----+------------+------------+------------+------------+---------+
only showing top 5 rows

In [6]:
df2=df1
#df2 = df1.filter(df1.Station_Name=='MANAUS')
#df2 = df1.filter(df1.Station_Name=='PORTO ALEGRE')
#df2 = df1.filter(df1.Station_Name=='PORTO ALEGRE')
#df2 = df1.filter(df1.Station_Name=='ECOLOGIA AGRICOLA')
#df2 = df1.filter(df1.Station_Name=='BRASILIA')

AttributeError: 'DataFrame' object has no attribute 'Station_Name'

In [131]:
df2.describe().show()

KeyboardInterrupt:

In [204]:
df3 = df2.select('Date','Time','Total_Precipitation','Atmospheric_Pressure','Solar_Radiation','Maximum_Temperature_For_The_Last_Hour',
'Minimum_Temperature_For_The_Last_Hour',
'Maximum_Relative_Humid_Temperature_For_The_Last_Hour',
'Minimum_Relative_Humid_Temperature_For_The_Last_Hour',
'Wind_speed_In_Metres_Per_Second',
'Region','State','Station_Name','Station_Code','Latitude','Longitude','Elevation')

df3.show()

+----------+-----+-------------------+--------------------+---------------+-------------------------------------+-------------------------------------+----------------------------------------------------+----------------------------------------------------+-------------------------------+------+-----+------------+------------+-----------+------------+---------+
|      Date| Time|Total_Precipitation|Atmospheric_Pressure|Solar_Radiation|Maximum_Temperature_For_The_Last_Hour|Minimum_Temperature_For_The_Last_Hour|Maximum_Relative_Humid_Temperature_For_The_Last_Hour|Minimum_Relative_Humid_Temperature_For_The_Last_Hour|Wind_speed_In_Metres_Per_Second|Region|State|Station_Name|Station_Code|   Latitude|   Longitude|Elevation|
+----------+-----+-------------------+--------------------+---------------+-------------------------------------+-------------------------------------+----------------------------------------------------+----------------------------------------------------+-------------------------------+------+-----+------------+------------+-----------+------------+---------+
|2000-05-09|00:00|            -9999.0|             -9999.0|        -9999.0|                              -9999.0|                              -9999.0|                                             -9999.0|                                             -9999.0|                        -9999.0|     N|   AM|      MANAUS|        A101|-3.10333333|-60.01638888|    61.25|
|2000-05-09|01:00|            -9999.0|             -9999.0|        -9999.0|                              -9999.0|                              -9999.0|                                             -9999.0|                                             -9999.0|                        -9999.0|     N|   AM|      MANAUS|        A101|-3.10333333|-60.01638888|    61.25|
|2000-05-09|02:00|            -9999.0|             -9999.0|        -9999.0|                              -9999.0|                              -9999.0|                                             -9999.0|                                             -9999.0|                        -9999.0|     N|   AM|      MANAUS|        A101|-3.10333333|-60.01638888|    61.25|
|2000-05-09|03:00|            -9999.0|             -9999.0|        -9999.0|                              -9999.0|                              -9999.0|                                             -9999.0|                                             -9999.0|                        -9999.0|     N|   AM|      MANAUS|        A101|-3.10333333|-60.01638888|    61.25|
|2000-05-09|04:00|            -9999.0|             -9999.0|        -9999.0|                              -9999.0|                              -9999.0|                                             -9999.0|                                             -9999.0|                        -9999.0|     N|   AM|      MANAUS|        A101|-3.10333333|-60.01638888|    61.25|
|2000-05-09|05:00|            -9999.0|             -9999.0|        -9999.0|                              -9999.0|                              -9999.0|                                             -9999.0|                                             -9999.0|                        -9999.0|     N|   AM|      MANAUS|        A101|-3.10333333|-60.01638888|    61.25|
|2000-05-09|06:00|            -9999.0|             -9999.0|        -9999.0|                              -9999.0|                              -9999.0|                                             -9999.0|                                             -9999.0|                        -9999.0|     N|   AM|      MANAUS|        A101|-3.10333333|-60.01638888|    61.25|
|2000-05-09|07:00|            -9999.0|             -9999.0|        -9999.0|                              -9999.0|                              -9999.0|                                             -9999.0|                                             -9999.0|                        -9999.0|     N|   AM|      MANAUS|        A101|-3.10333333|-60.01638888|    61.25|
|2000-05-09|08:00|            -9999.0|             -9999.0|        -9999.0|                              -9999.0|                              -9999.0|                                             -9999.0|                                             -9999.0|                        -9999.0|     N|   AM|      MANAUS|        A101|-3.10333333|-60.01638888|    61.25|
|2000-05-09|09:00|            -9999.0|             -9999.0|        -9999.0|                              -9999.0|                              -9999.0|                                             -9999.0|                                             -9999.0|                        -9999.0|     N|   AM|      MANAUS|        A101|-3.10333333|-60.01638888|    61.25|
|2000-05-09|10:00|            -9999.0|             -9999.0|        -9999.0|                              -9999.0|                              -9999.0|                                             -9999.0|                                             -9999.0|                        -9999.0|     N|   AM|      MANAUS|        A101|-3.10333333|-60.01638888|    61.25|
|2000-05-09|11:00|            -9999.0|             -9999.0|        -9999.0|                              -9999.0|                              -9999.0|                                             -9999.0|                                             -9999.0|                        -9999.0|     N|   AM|      MANAUS|        A101|-3.10333333|-60.01638888|    61.25|
|2000-05-09|12:00|            -9999.0|             -9999.0|        -9999.0|                              -9999.0|                              -9999.0|                                             -9999.0|                                             -9999.0|                        -9999.0|     N|   AM|      MANAUS|        A101|-3.10333333|-60.01638888|    61.25|
|2000-05-09|13:00|            -9999.0|             -9999.0|        -9999.0|                              -9999.0|                              -9999.0|                                             -9999.0|                                             -9999.0|                        -9999.0|     N|   AM|      MANAUS|        A101|-3.10333333|-60.01638888|    61.25|
|2000-05-09|14:00|            -9999.0|             -9999.0|        -9999.0|                              -9999.0|                              -9999.0|                                             -9999.0|                                             -9999.0|                        -9999.0|     N|   AM|      MANAUS|        A101|-3.10333333|-60.01638888|    61.25|
|2000-05-09|15:00|            -9999.0|             -9999.0|        -9999.0|                              -9999.0|                              -9999.0|                                             -9999.0|                                             -9999.0|                        -9999.0|     N|   AM|      MANAUS|        A101|-3.10333333|-60.01638888|    61.25|
|2000-05-09|16:00|            -9999.0|             -9999.0|        -9999.0|                              -9999.0|                              -9999.0|                                             -9999.0|                                             -9999.0|                        -9999.0|     N|   AM|      MANAUS|        A101|-3.10333333|-60.01638888|    61.25|
|2000-05-09|17:00|            -9999.0|             -9999.0|        -9999.0|                              -9999.0|                              -9999.0|                                             -9999.0|                                             -9999.0|                        -9999.0|     N|   AM|      MANAUS|        A101|-3.10333333|-60.01638888|    61.25|
|2000-05-09|18:00|            -9999.0|             -9999.0|        -9999.0|                              -9999.0|                              -9999.0|                                             -9999.0|                                             -9999.0|                        -9999.0|     N|   AM|      MANAUS|        A101|-3.10333333|-60.01638888|    61.25|
|2000-05-09|19:00|            -9999.0|             -9999.0|        -9999.0|                              -9999.0|                              -9999.0|                                             -9999.0|                                             -9999.0|                        -9999.0|     N|   AM|      MANAUS|        A101|-3.10333333|-60.01638888|    61.25|
+----------+-----+-------------------+--------------------+---------------+-------------------------------------+-------------------------------------+----------------------------------------------------+----------------------------------------------------+-------------------------------+------+-----+------------+------------+-----------+------------+---------+
only showing top 20 rows

In [205]:
df4 = df3.filter((df3.Total_Precipitation>=0) & (df3.Atmospheric_Pressure>=100) & (df3.Atmospheric_Pressure<=1050) & (df3.Solar_Radiation>=0) & (df3.Maximum_Temperature_For_The_Last_Hour>-273) & (df3.Maximum_Temperature_For_The_Last_Hour<135) & (df3.Minimum_Temperature_For_The_Last_Hour>-273) &(df3.Minimum_Temperature_For_The_Last_Hour<135) & (df3.Maximum_Relative_Humid_Temperature_For_The_Last_Hour>=0) & (df3.Maximum_Relative_Humid_Temperature_For_The_Last_Hour<=100) & (df3.Minimum_Relative_Humid_Temperature_For_The_Last_Hour>=0) & (df3.Minimum_Relative_Humid_Temperature_For_The_Last_Hour<=100) & (df3.Wind_speed_In_Metres_Per_Second<=150) & (df3.Wind_speed_In_Metres_Per_Second>=0) & (df3.Latitude>=-90) & (df3.Latitude<=90) & (df3.Longitude>=-180) & (df3.Longitude<=180)  )

df4.count()

3399371

In [206]:
df3.count()

8392320

In [183]:
df4.describe().show()

+-------+-------+-------------------+--------------------+------------------+-------------------------------------+-------------------------------------+----------------------------------------------------+----------------------------------------------------+-------------------------------+-------+-------+------------+------------+------------------+------------------+-------------------+
|summary|   Time|Total_Precipitation|Atmospheric_Pressure|   Solar_Radiation|Maximum_Temperature_For_The_Last_Hour|Minimum_Temperature_For_The_Last_Hour|Maximum_Relative_Humid_Temperature_For_The_Last_Hour|Minimum_Relative_Humid_Temperature_For_The_Last_Hour|Wind_speed_In_Metres_Per_Second| Region|  State|Station_Name|Station_Code|          Latitude|         Longitude|          Elevation|
+-------+-------+-------------------+--------------------+------------------+-------------------------------------+-------------------------------------+----------------------------------------------------+----------------------------------------------------+-------------------------------+-------+-------+------------+------------+------------------+------------------+-------------------+
|  count|3399371|            3399371|             3399371|           3399371|                              3399371|                              3399371|                                             3399371|                                             3399371|                        3399371|3399371|3399371|     3399371|     3399371|           3399371|           3399371|            3399371|
|   mean|   null|0.27777821249868223|   993.0904165211837|1454.2625568083035|                    28.87051148580123|                    27.25260808543703|                                   73.53005894325744|                                   66.26781660489543|             1.6630043322719477|   null|   null|        null|        null|-5.738152070779198|-54.85226444252689|-126.47159431850211|
| stddev|   null|  1.979628550967991|  18.040346474719417|2205.2283322981325|                   3.8025662894831758|                   3.5799131506409982|                                  18.357042560405052|                                  19.196490456861515|             1.2991115466355196|   null|   null|        null|        null|  4.03524956920473| 7.344715033292303| 1695.8831131649526|
|    min|  00:00|                0.0|               852.1|               0.0|                                  0.0|                                 -0.2|                                                 7.0|                                                 7.0|                            0.0|      N|     AC|       ALMAS|        A009|      -12.75055555|      -72.78666666|            -9999.0|
|    max|  23:00|               97.2|              1049.2|           45305.0|                                 45.0|                                 41.3|                                               100.0|                                               100.0|                           19.9|      N|     TO|    XINGUARA|        S121|        4.47749999|      -45.91999999|              798.0|
+-------+-------+-------------------+--------------------+------------------+-------------------------------------+-------------------------------------+----------------------------------------------------+----------------------------------------------------+-------------------------------+-------+-------+------------+------------+------------------+------------------+-------------------+

In [81]:
#df4.select(df4.Date).distinct().count()

6182

In [184]:
from pyspark.sql.functions import col, count
grouped_df = df4.groupBy("Date").agg(count("*").alias("Count"))

In [185]:
df5 = grouped_df.filter(grouped_df.Count<6)
df5.show(5)

+----------+-----+
|      Date|Count|
+----------+-----+
|2001-01-30|    3|
|2002-11-17|    5|
|2008-03-08|    3|
|2001-01-04|    4|
|2000-12-20|    4|
+----------+-----+
only showing top 5 rows

In [91]:
df5.count()

129

In [90]:
# values_to_filter = df5.select("Date")

# # Remove rows from df1 that match column values in df2
# result_df = df4.filter(~col("Date").isin(values_to_filter["Date"]))

# # Show the resulting DataFrame
# result_df.show()

# #values_to_filter.show()

0

In [186]:
from pyspark.sql.functions import col

# Assuming df4 and df5 are your DataFrames
values_to_filter = df5.select("Date")

# Perform a left anti join to keep only rows from df4 where Date has no match in values_to_filter
result_df = df4.join(values_to_filter, "Date", "left_anti")

# Show the resulting DataFrame
result_df.show(5)

+----------+-----+-------------------+--------------------+---------------+-------------------------------------+-------------------------------------+----------------------------------------------------+----------------------------------------------------+-------------------------------+------+-----+------------+------------+-----------+------------+---------+
|      Date| Time|Total_Precipitation|Atmospheric_Pressure|Solar_Radiation|Maximum_Temperature_For_The_Last_Hour|Minimum_Temperature_For_The_Last_Hour|Maximum_Relative_Humid_Temperature_For_The_Last_Hour|Minimum_Relative_Humid_Temperature_For_The_Last_Hour|Wind_speed_In_Metres_Per_Second|Region|State|Station_Name|Station_Code|   Latitude|   Longitude|Elevation|
+----------+-----+-------------------+--------------------+---------------+-------------------------------------+-------------------------------------+----------------------------------------------------+----------------------------------------------------+-------------------------------+------+-----+------------+------------+-----------+------------+---------+
|2000-07-03|11:00|                0.0|              1005.4|           59.0|                                 26.0|                                 25.5|                                                90.0|                                                88.0|                            1.3|     N|   AM|      MANAUS|        A101|-3.10333333|-60.01638888|    61.25|
|2000-07-03|12:00|                0.0|              1006.1|          346.0|                                 26.6|                                 26.0|                                                90.0|                                                87.0|                            1.3|     N|   AM|      MANAUS|        A101|-3.10333333|-60.01638888|    61.25|
|2000-07-03|13:00|                0.0|              1006.6|          863.0|                                 27.5|                                 26.5|                                                88.0|                                                83.0|                            1.7|     N|   AM|      MANAUS|        A101|-3.10333333|-60.01638888|    61.25|
|2000-07-03|14:00|                0.0|              1006.8|         1481.0|                                 29.1|                                 27.5|                                                83.0|                                                76.0|                            1.7|     N|   AM|      MANAUS|        A101|-3.10333333|-60.01638888|    61.25|
|2000-07-03|15:00|                0.0|              1006.7|         2337.0|                                 30.0|                                 28.0|                                                80.0|                                                70.0|                            2.0|     N|   AM|      MANAUS|        A101|-3.10333333|-60.01638888|    61.25|
+----------+-----+-------------------+--------------------+---------------+-------------------------------------+-------------------------------------+----------------------------------------------------+----------------------------------------------------+-------------------------------+------+-----+------------+------------+-----------+------------+---------+
only showing top 5 rows

In [187]:
result_df.count()

3399286

In [188]:

from pyspark.sql.functions import col, count
grouped_df = result_df.groupBy("Date").agg(count("*").alias("Count"))

df6 = grouped_df.filter(grouped_df.Count>=6)
df6.count()

7454

In [189]:
df6.show()

+----------+-----+
|      Date|Count|
+----------+-----+
|2000-07-03|   11|
|2000-12-26|   13|
|2001-05-16|   12|
|2002-06-20|   10|
|2002-12-06|    6|
|2002-12-25|   10|
|2005-01-16|   39|
|2005-06-06|   41|
|2006-05-17|   48|
|2007-04-20|  111|
|2007-11-15|  116|
|2007-11-23|  130|
|2009-07-25|  573|
|2009-11-22|  654|
|2010-08-11|  584|
|2012-04-17|  571|
|2012-10-06|  645|
|2013-01-22|  738|
|2013-03-26|  685|
|2013-05-21|  628|
+----------+-----+
only showing top 20 rows

In [89]:
df4.printSchema()

root
 |-- Date: date (nullable = true)
 |-- Time: string (nullable = true)
 |-- Total_Precipitation: double (nullable = true)
 |-- Atmospheric_Pressure: double (nullable = true)
 |-- Solar_Radiation: double (nullable = true)
 |-- Maximum_Temperature_For_The_Last_Hour: double (nullable = true)
 |-- Minimum_Temperature_For_The_Last_Hour: double (nullable = true)
 |-- Maximum_Relative_Humid_Temperature_For_The_Last_Hour: double (nullable = true)
 |-- Minimum_Relative_Humid_Temperature_For_The_Last_Hour: double (nullable = true)
 |-- Wind_speed_In_Metres_Per_Second: double (nullable = true)
 |-- Region: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Station_Name: string (nullable = true)
 |-- Station_Code: string (nullable = true)
 |-- Latitude: double (nullable = true)
 |-- Longitude: double (nullable = true)
 |-- Elevation: double (nullable = true)

In [190]:
output_csv_path = "final_weather_data_north2"
df_transformed_single_partition = result_df.coalesce(1)

# Write the DataFrame to a single CSV file
df_transformed_single_partition.write.mode("overwrite").csv(output_csv_path, header=True, compression="none")

In [212]:
# df1.filter(df1.Date>"2018-01-01").count()

2597472

In [12]:
#Extra
#df1.show(5)
df2 = df1.filter(df1.station=='MANAUS')

+-----+----------+-----+--------------------------------+-----------------------------------------------------+-----------------------------------------------+------------------------------------------------+-----------------------+--------------------------------------------+------------------------------------+------------------------------------------+------------------------------------------+------------------------------------------------+------------------------------------------------+----------------------------------------+----------------------------------------+-----------------------------------+------------------------------------+--------------------------+-------------------------------+------+-----+-------+------------+-----------+------------+------+
|index|      Data| Hora|PRECIPITAO TOTAL, HORRIO (mm)|PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)|PRESSO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB)|PRESSO ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB)|RADIACAO GLOBAL (Kj/m)|TEMPERATURA DO AR - BULBO SECO, HORARIA (C)|TEMPERATURA DO PONTO DE ORVALHO (C)|TEMPERATURA MXIMA NA HORA ANT. (AUT) (C)|TEMPERATURA MNIMA NA HORA ANT. (AUT) (C)|TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (C)|TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (C)|UMIDADE REL. MAX. NA HORA ANT. (AUT) (%)|UMIDADE REL. MIN. NA HORA ANT. (AUT) (%)|UMIDADE RELATIVA DO AR, HORARIA (%)|VENTO, DIREO HORARIA (gr) ( (gr))|VENTO, RAJADA MAXIMA (m/s)|VENTO, VELOCIDADE HORARIA (m/s)|region|state|station|station_code|   latitude|   longitude|height|
+-----+----------+-----+--------------------------------+-----------------------------------------------------+-----------------------------------------------+------------------------------------------------+-----------------------+--------------------------------------------+------------------------------------+------------------------------------------+------------------------------------------+------------------------------------------------+------------------------------------------------+----------------------------------------+----------------------------------------+-----------------------------------+------------------------------------+--------------------------+-------------------------------+------+-----+-------+------------+-----------+------------+------+
|    0|2000-05-09|00:00|                         -9999.0|                                              -9999.0|                                        -9999.0|                                         -9999.0|                  -9999|                                     -9999.0|                             -9999.0|                                   -9999.0|                                   -9999.0|                                         -9999.0|                                         -9999.0|                                   -9999|                                   -9999|                              -9999|                               -9999|                   -9999.0|                        -9999.0|     N|   AM| MANAUS|        A101|-3.10333333|-60.01638888| 61.25|
|    1|2000-05-09|01:00|                         -9999.0|                                              -9999.0|                                        -9999.0|                                         -9999.0|                  -9999|                                     -9999.0|                             -9999.0|                                   -9999.0|                                   -9999.0|                                         -9999.0|                                         -9999.0|                                   -9999|                                   -9999|                              -9999|                               -9999|                   -9999.0|                        -9999.0|     N|   AM| MANAUS|        A101|-3.10333333|-60.01638888| 61.25|
|    2|2000-05-09|02:00|                         -9999.0|                                              -9999.0|                                        -9999.0|                                         -9999.0|                  -9999|                                     -9999.0|                             -9999.0|                                   -9999.0|                                   -9999.0|                                         -9999.0|                                         -9999.0|                                   -9999|                                   -9999|                              -9999|                               -9999|                   -9999.0|                        -9999.0|     N|   AM| MANAUS|        A101|-3.10333333|-60.01638888| 61.25|
|    3|2000-05-09|03:00|                         -9999.0|                                              -9999.0|                                        -9999.0|                                         -9999.0|                  -9999|                                     -9999.0|                             -9999.0|                                   -9999.0|                                   -9999.0|                                         -9999.0|                                         -9999.0|                                   -9999|                                   -9999|                              -9999|                               -9999|                   -9999.0|                        -9999.0|     N|   AM| MANAUS|        A101|-3.10333333|-60.01638888| 61.25|
|    4|2000-05-09|04:00|                         -9999.0|                                              -9999.0|                                        -9999.0|                                         -9999.0|                  -9999|                                     -9999.0|                             -9999.0|                                   -9999.0|                                   -9999.0|                                         -9999.0|                                         -9999.0|                                   -9999|                                   -9999|                              -9999|                               -9999|                   -9999.0|                        -9999.0|     N|   AM| MANAUS|        A101|-3.10333333|-60.01638888| 61.25|
+-----+----------+-----+--------------------------------+-----------------------------------------------------+-----------------------------------------------+------------------------------------------------+-----------------------+--------------------------------------------+------------------------------------+------------------------------------------+------------------------------------------+------------------------------------------------+------------------------------------------------+----------------------------------------+----------------------------------------+-----------------------------------+------------------------------------+--------------------------+-------------------------------+------+-----+-------+------------+-----------+------------+------+
only showing top 5 rows

In [14]:
#df2.count()
df2 = df2.drop('index')
df2.show(5)

+----------+-----+--------------------------------+-----------------------------------------------------+-----------------------------------------------+------------------------------------------------+-----------------------+--------------------------------------------+------------------------------------+------------------------------------------+------------------------------------------+------------------------------------------------+------------------------------------------------+----------------------------------------+----------------------------------------+-----------------------------------+------------------------------------+--------------------------+-------------------------------+------+-----+-------+------------+-----------+------------+------+
|      Data| Hora|PRECIPITAO TOTAL, HORRIO (mm)|PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)|PRESSO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB)|PRESSO ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB)|RADIACAO GLOBAL (Kj/m)|TEMPERATURA DO AR - BULBO SECO, HORARIA (C)|TEMPERATURA DO PONTO DE ORVALHO (C)|TEMPERATURA MXIMA NA HORA ANT. (AUT) (C)|TEMPERATURA MNIMA NA HORA ANT. (AUT) (C)|TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (C)|TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (C)|UMIDADE REL. MAX. NA HORA ANT. (AUT) (%)|UMIDADE REL. MIN. NA HORA ANT. (AUT) (%)|UMIDADE RELATIVA DO AR, HORARIA (%)|VENTO, DIREO HORARIA (gr) ( (gr))|VENTO, RAJADA MAXIMA (m/s)|VENTO, VELOCIDADE HORARIA (m/s)|region|state|station|station_code|   latitude|   longitude|height|
+----------+-----+--------------------------------+-----------------------------------------------------+-----------------------------------------------+------------------------------------------------+-----------------------+--------------------------------------------+------------------------------------+------------------------------------------+------------------------------------------+------------------------------------------------+------------------------------------------------+----------------------------------------+----------------------------------------+-----------------------------------+------------------------------------+--------------------------+-------------------------------+------+-----+-------+------------+-----------+------------+------+
|2000-05-09|00:00|                         -9999.0|                                              -9999.0|                                        -9999.0|                                         -9999.0|                  -9999|                                     -9999.0|                             -9999.0|                                   -9999.0|                                   -9999.0|                                         -9999.0|                                         -9999.0|                                   -9999|                                   -9999|                              -9999|                               -9999|                   -9999.0|                        -9999.0|     N|   AM| MANAUS|        A101|-3.10333333|-60.01638888| 61.25|
|2000-05-09|01:00|                         -9999.0|                                              -9999.0|                                        -9999.0|                                         -9999.0|                  -9999|                                     -9999.0|                             -9999.0|                                   -9999.0|                                   -9999.0|                                         -9999.0|                                         -9999.0|                                   -9999|                                   -9999|                              -9999|                               -9999|                   -9999.0|                        -9999.0|     N|   AM| MANAUS|        A101|-3.10333333|-60.01638888| 61.25|
|2000-05-09|02:00|                         -9999.0|                                              -9999.0|                                        -9999.0|                                         -9999.0|                  -9999|                                     -9999.0|                             -9999.0|                                   -9999.0|                                   -9999.0|                                         -9999.0|                                         -9999.0|                                   -9999|                                   -9999|                              -9999|                               -9999|                   -9999.0|                        -9999.0|     N|   AM| MANAUS|        A101|-3.10333333|-60.01638888| 61.25|
|2000-05-09|03:00|                         -9999.0|                                              -9999.0|                                        -9999.0|                                         -9999.0|                  -9999|                                     -9999.0|                             -9999.0|                                   -9999.0|                                   -9999.0|                                         -9999.0|                                         -9999.0|                                   -9999|                                   -9999|                              -9999|                               -9999|                   -9999.0|                        -9999.0|     N|   AM| MANAUS|        A101|-3.10333333|-60.01638888| 61.25|
|2000-05-09|04:00|                         -9999.0|                                              -9999.0|                                        -9999.0|                                         -9999.0|                  -9999|                                     -9999.0|                             -9999.0|                                   -9999.0|                                   -9999.0|                                         -9999.0|                                         -9999.0|                                   -9999|                                   -9999|                              -9999|                               -9999|                   -9999.0|                        -9999.0|     N|   AM| MANAUS|        A101|-3.10333333|-60.01638888| 61.25|
+----------+-----+--------------------------------+-----------------------------------------------------+-----------------------------------------------+------------------------------------------------+-----------------------+--------------------------------------------+------------------------------------+------------------------------------------+------------------------------------------+------------------------------------------------+------------------------------------------------+----------------------------------------+----------------------------------------+-----------------------------------+------------------------------------+--------------------------+-------------------------------+------+-----+-------+------------+-----------+------------+------+
only showing top 5 rows

In [15]:
output_csv_path = "north_raw_data1"
df_transformed_single_partition = df2.coalesce(1)

# Write the DataFrame to a single CSV file
df_transformed_single_partition.write.mode("overwrite").csv(output_csv_path, header=True, compression="none")